@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradiente {
    background: linear-gradient(90deg, #603140 0%, #4b0bc4 38.5%, #20054f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
